# This file was auto-generated by Fern from our API Definition.

from __future__ import annotations

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from .raw_client import AsyncRawAssetClient, RawAssetClient
from .types.create_asset_request_purpose import CreateAssetRequestPurpose
from .types.create_asset_response import CreateAssetResponse

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class AssetClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawAssetClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawAssetClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawAssetClient
        """
        return self._raw_client

    def create(
        self,
        *,
        name: str,
        size: typing.Optional[int] = OMIT,
        purpose: typing.Optional[CreateAssetRequestPurpose] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CreateAssetResponse:
        """
        Create a file asset and get back a self-describing instruction for
        uploading its bytes — the JSON-friendly way to attach a file (image, PDF,
        document, …) to a message, supply media for a story, or host an avatar
        image. Unlike [`/item.upload`](https://developer.ro.am/docs/api/item-upload), which takes raw
        bytes in the request body, every caller-visible step here is JSON in /
        JSON out (so it can be driven from MCP and other tool-calling clients),
        and the file bytes never pass through this API.

        **Flow:**
        1. `POST /asset.create` with the file `name` (include the extension, e.g.
           `photo.png`) and, if known, its `size` in bytes. For stories, also pass
           `purpose: "story"`. For avatars, pass `purpose: "avatar"` and `size`
           (max 10 MiB). The response
           is an upload instruction: `assetId`, `uploadUrl`, `uploadMethod`, and
           `uploadHeaders`. Avatar responses also include `imageUrl`.
        2. Upload the raw bytes in a **single request**: use `uploadMethod` (a
           `POST`) against `uploadUrl`, send every header from `uploadHeaders`
           verbatim, and put the file in the request body. Send the headers exactly
           as given — they authorize the upload and select the single-request
           upload protocol; omitting any will cause the upload to fail.
        3. Processing (thumbnails, previews, 512×512 WebP for avatars) happens
           automatically once the bytes land. There is no separate "complete" call.
        4. Once the asset is ready, use it:
           - `purpose: "file"` (default) — attach via `assetIds` on
             [`/chat.post`](https://developer.ro.am/docs/api/chat-post) or
             [`/chat.update`](https://developer.ro.am/docs/api/chat-update)
           - `purpose: "story"` — post via [`/story.post`](https://developer.ro.am/docs/api/story-post)
           - `purpose: "avatar"` — pass `imageUrl` as `sender.imageUrl` on
             [`/chat.post`](https://developer.ro.am/docs/api/chat-post) (and related send endpoints), or
             as `hosts[].imageUrl` on
             [`/onair.event.create`](https://developer.ro.am/docs/onair-api/onair-event-create) /
             [`/onair.event.update`](https://developer.ro.am/docs/onair-api/onair-event-update)

        A freshly-uploaded asset may take a few seconds to process (videos take
        longer). Chat and story endpoints that consume the asset return a 400 with
        a "still processing" message until processing completes. Avatar `imageUrl`
        404s until the image is ready — wait a moment after the upload returns
        before posting it.

        The `uploadUrl` is short-lived; if it expires, call `asset.create` again for
        a fresh instruction. Maximum file size is 5 GiB for `file` / `story`, and
        10 MiB for `avatar`.

        ## Purposes

        | Purpose | Use | Access |
        |---------|-----|--------|
        | `file` (default) | Chat message attachments | Organization and Personal |
        | `story` | Story media (photo or video) | Personal only |
        | `avatar` | `sender.imageUrl` and On-Air `hosts.imageUrl` | Organization and Personal |

        Story assets are owned by the authenticated user (stories are posted as you,
        not as a bot) and expire about 48 hours after creation. Because the media
        must outlive the story's 24-hour lifetime, call
        [`/story.post`](https://developer.ro.am/docs/api/story-post) within about 23 hours of creating the
        asset; after that the asset is rejected and a new one must be created.

        Avatar assets are public 512×512 WebP images. They do not expire. From
        API version `2026-08-25`, `sender.imageUrl` and On-Air `hosts.imageUrl`
        must be a Roam-hosted avatar URL (this `imageUrl`, or a legacy
        `/card-images/` or `/photos/people/` URL). Third-party image URLs return
        400. See [API Versioning](https://developer.ro.am/docs/guides/api-versioning) and
        [Sender Profiles](https://developer.ro.am/docs/guides/sender-profiles).

        **Access:** Organization and Personal. `purpose: "story"` is Personal only.

        **Required scope:** `item:write` for `purpose: "file"`; `chat:send_message`
        or `chat:write` for `purpose: "story"`; any of `item:write`,
        `chat:send_message`, `chat:write`, or `onair:write` for `purpose: "avatar"`.

        Parameters
        ----------
        name : str
            File name, including its extension (e.g. `report.pdf`). Processing determines the media type from the extension.

        size : typing.Optional[int]
            File size in bytes, if known. The true size is enforced
            server-side during the upload. Maximum 5 GiB. Required for
            `purpose: "avatar"` (maximum 10 MiB).

        purpose : typing.Optional[CreateAssetRequestPurpose]
            What the asset will be used for. `file` (default) for chat
            message attachments; `story` for story media (Personal tokens
            only); `avatar` for `sender.imageUrl` and On-Air host photos.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CreateAssetResponse
            Upload instruction created.

        Examples
        --------
        from roamhq import RoamClient

        client = RoamClient(
            roam_version="YOUR_ROAM_VERSION",
            token="YOUR_TOKEN",
        )
        client.asset.create(
            name="quarterly-report.pdf",
            size=248173,
        )
        """
        _response = self._raw_client.create(name=name, size=size, purpose=purpose, request_options=request_options)
        return _response.data


class AsyncAssetClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawAssetClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawAssetClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawAssetClient
        """
        return self._raw_client

    async def create(
        self,
        *,
        name: str,
        size: typing.Optional[int] = OMIT,
        purpose: typing.Optional[CreateAssetRequestPurpose] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CreateAssetResponse:
        """
        Create a file asset and get back a self-describing instruction for
        uploading its bytes — the JSON-friendly way to attach a file (image, PDF,
        document, …) to a message, supply media for a story, or host an avatar
        image. Unlike [`/item.upload`](https://developer.ro.am/docs/api/item-upload), which takes raw
        bytes in the request body, every caller-visible step here is JSON in /
        JSON out (so it can be driven from MCP and other tool-calling clients),
        and the file bytes never pass through this API.

        **Flow:**
        1. `POST /asset.create` with the file `name` (include the extension, e.g.
           `photo.png`) and, if known, its `size` in bytes. For stories, also pass
           `purpose: "story"`. For avatars, pass `purpose: "avatar"` and `size`
           (max 10 MiB). The response
           is an upload instruction: `assetId`, `uploadUrl`, `uploadMethod`, and
           `uploadHeaders`. Avatar responses also include `imageUrl`.
        2. Upload the raw bytes in a **single request**: use `uploadMethod` (a
           `POST`) against `uploadUrl`, send every header from `uploadHeaders`
           verbatim, and put the file in the request body. Send the headers exactly
           as given — they authorize the upload and select the single-request
           upload protocol; omitting any will cause the upload to fail.
        3. Processing (thumbnails, previews, 512×512 WebP for avatars) happens
           automatically once the bytes land. There is no separate "complete" call.
        4. Once the asset is ready, use it:
           - `purpose: "file"` (default) — attach via `assetIds` on
             [`/chat.post`](https://developer.ro.am/docs/api/chat-post) or
             [`/chat.update`](https://developer.ro.am/docs/api/chat-update)
           - `purpose: "story"` — post via [`/story.post`](https://developer.ro.am/docs/api/story-post)
           - `purpose: "avatar"` — pass `imageUrl` as `sender.imageUrl` on
             [`/chat.post`](https://developer.ro.am/docs/api/chat-post) (and related send endpoints), or
             as `hosts[].imageUrl` on
             [`/onair.event.create`](https://developer.ro.am/docs/onair-api/onair-event-create) /
             [`/onair.event.update`](https://developer.ro.am/docs/onair-api/onair-event-update)

        A freshly-uploaded asset may take a few seconds to process (videos take
        longer). Chat and story endpoints that consume the asset return a 400 with
        a "still processing" message until processing completes. Avatar `imageUrl`
        404s until the image is ready — wait a moment after the upload returns
        before posting it.

        The `uploadUrl` is short-lived; if it expires, call `asset.create` again for
        a fresh instruction. Maximum file size is 5 GiB for `file` / `story`, and
        10 MiB for `avatar`.

        ## Purposes

        | Purpose | Use | Access |
        |---------|-----|--------|
        | `file` (default) | Chat message attachments | Organization and Personal |
        | `story` | Story media (photo or video) | Personal only |
        | `avatar` | `sender.imageUrl` and On-Air `hosts.imageUrl` | Organization and Personal |

        Story assets are owned by the authenticated user (stories are posted as you,
        not as a bot) and expire about 48 hours after creation. Because the media
        must outlive the story's 24-hour lifetime, call
        [`/story.post`](https://developer.ro.am/docs/api/story-post) within about 23 hours of creating the
        asset; after that the asset is rejected and a new one must be created.

        Avatar assets are public 512×512 WebP images. They do not expire. From
        API version `2026-08-25`, `sender.imageUrl` and On-Air `hosts.imageUrl`
        must be a Roam-hosted avatar URL (this `imageUrl`, or a legacy
        `/card-images/` or `/photos/people/` URL). Third-party image URLs return
        400. See [API Versioning](https://developer.ro.am/docs/guides/api-versioning) and
        [Sender Profiles](https://developer.ro.am/docs/guides/sender-profiles).

        **Access:** Organization and Personal. `purpose: "story"` is Personal only.

        **Required scope:** `item:write` for `purpose: "file"`; `chat:send_message`
        or `chat:write` for `purpose: "story"`; any of `item:write`,
        `chat:send_message`, `chat:write`, or `onair:write` for `purpose: "avatar"`.

        Parameters
        ----------
        name : str
            File name, including its extension (e.g. `report.pdf`). Processing determines the media type from the extension.

        size : typing.Optional[int]
            File size in bytes, if known. The true size is enforced
            server-side during the upload. Maximum 5 GiB. Required for
            `purpose: "avatar"` (maximum 10 MiB).

        purpose : typing.Optional[CreateAssetRequestPurpose]
            What the asset will be used for. `file` (default) for chat
            message attachments; `story` for story media (Personal tokens
            only); `avatar` for `sender.imageUrl` and On-Air host photos.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CreateAssetResponse
            Upload instruction created.

        Examples
        --------
        import asyncio

        from roamhq import AsyncRoamClient

        client = AsyncRoamClient(
            roam_version="YOUR_ROAM_VERSION",
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.asset.create(
                name="quarterly-report.pdf",
                size=248173,
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.create(
            name=name, size=size, purpose=purpose, request_options=request_options
        )
        return _response.data
