# This file was auto-generated by Fern from our API Definition.

from __future__ import annotations

import typing
from json.decoder import JSONDecodeError

from ..core.api_error import ApiError
from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.http_response import AsyncHttpResponse, HttpResponse
from ..core.parse_error import ParsingError
from ..core.pydantic_utilities import parse_obj_as
from ..core.request_options import RequestOptions
from ..errors.bad_request_error import BadRequestError
from ..errors.forbidden_error import ForbiddenError
from ..errors.internal_server_error import InternalServerError
from ..errors.method_not_allowed_error import MethodNotAllowedError
from ..errors.too_many_requests_error import TooManyRequestsError
from ..errors.unauthorized_error import UnauthorizedError
from ..types.error import Error
from .types.create_asset_request_purpose import CreateAssetRequestPurpose
from .types.create_asset_response import CreateAssetResponse
from pydantic import ValidationError

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class RawAssetClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._client_wrapper = client_wrapper

    def create(
        self,
        *,
        name: str,
        size: typing.Optional[int] = OMIT,
        purpose: typing.Optional[CreateAssetRequestPurpose] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> HttpResponse[CreateAssetResponse]:
        """
        Create a file asset and get back a self-describing instruction for
        uploading its bytes — the JSON-friendly way to attach a file (image, PDF,
        document, …) to a message, supply media for a story, or host an avatar
        image. Unlike [`/item.upload`](https://developer.ro.am/docs/api/item-upload), which takes raw
        bytes in the request body, every caller-visible step here is JSON in /
        JSON out (so it can be driven from MCP and other tool-calling clients),
        and the file bytes never pass through this API.

        **Flow:**
        1. `POST /asset.create` with the file `name` (include the extension, e.g.
           `photo.png`) and, if known, its `size` in bytes. For stories, also pass
           `purpose: "story"`. For avatars, pass `purpose: "avatar"` and `size`
           (max 10 MiB). The response
           is an upload instruction: `assetId`, `uploadUrl`, `uploadMethod`, and
           `uploadHeaders`. Avatar responses also include `imageUrl`.
        2. Upload the raw bytes in a **single request**: use `uploadMethod` (a
           `POST`) against `uploadUrl`, send every header from `uploadHeaders`
           verbatim, and put the file in the request body. Send the headers exactly
           as given — they authorize the upload and select the single-request
           upload protocol; omitting any will cause the upload to fail.
        3. Processing (thumbnails, previews, 512×512 WebP for avatars) happens
           automatically once the bytes land. There is no separate "complete" call.
        4. Once the asset is ready, use it:
           - `purpose: "file"` (default) — attach via `assetIds` on
             [`/chat.post`](https://developer.ro.am/docs/api/chat-post) or
             [`/chat.update`](https://developer.ro.am/docs/api/chat-update)
           - `purpose: "story"` — post via [`/story.post`](https://developer.ro.am/docs/api/story-post)
           - `purpose: "avatar"` — pass `imageUrl` as `sender.imageUrl` on
             [`/chat.post`](https://developer.ro.am/docs/api/chat-post) (and related send endpoints), or
             as `hosts[].imageUrl` on
             [`/onair.event.create`](https://developer.ro.am/docs/onair-api/onair-event-create) /
             [`/onair.event.update`](https://developer.ro.am/docs/onair-api/onair-event-update)

        A freshly-uploaded asset may take a few seconds to process (videos take
        longer). Chat and story endpoints that consume the asset return a 400 with
        a "still processing" message until processing completes. Avatar `imageUrl`
        404s until the image is ready — wait a moment after the upload returns
        before posting it.

        The `uploadUrl` is short-lived; if it expires, call `asset.create` again for
        a fresh instruction. Maximum file size is 5 GiB for `file` / `story`, and
        10 MiB for `avatar`.

        ## Purposes

        | Purpose | Use | Access |
        |---------|-----|--------|
        | `file` (default) | Chat message attachments | Organization and Personal |
        | `story` | Story media (photo or video) | Personal only |
        | `avatar` | `sender.imageUrl` and On-Air `hosts.imageUrl` | Organization and Personal |

        Story assets are owned by the authenticated user (stories are posted as you,
        not as a bot) and expire about 48 hours after creation. Because the media
        must outlive the story's 24-hour lifetime, call
        [`/story.post`](https://developer.ro.am/docs/api/story-post) within about 23 hours of creating the
        asset; after that the asset is rejected and a new one must be created.

        Avatar assets are public 512×512 WebP images. They do not expire. From
        API version `2026-08-25`, `sender.imageUrl` and On-Air `hosts.imageUrl`
        must be a Roam-hosted avatar URL (this `imageUrl`, or a legacy
        `/card-images/` or `/photos/people/` URL). Third-party image URLs return
        400. See [API Versioning](https://developer.ro.am/docs/guides/api-versioning) and
        [Sender Profiles](https://developer.ro.am/docs/guides/sender-profiles).

        **Access:** Organization and Personal. `purpose: "story"` is Personal only.

        **Required scope:** `item:write` for `purpose: "file"`; `chat:send_message`
        or `chat:write` for `purpose: "story"`; any of `item:write`,
        `chat:send_message`, `chat:write`, or `onair:write` for `purpose: "avatar"`.

        Parameters
        ----------
        name : str
            File name, including its extension (e.g. `report.pdf`). Processing determines the media type from the extension.

        size : typing.Optional[int]
            File size in bytes, if known. The true size is enforced
            server-side during the upload. Maximum 5 GiB. Required for
            `purpose: "avatar"` (maximum 10 MiB).

        purpose : typing.Optional[CreateAssetRequestPurpose]
            What the asset will be used for. `file` (default) for chat
            message attachments; `story` for story media (Personal tokens
            only); `avatar` for `sender.imageUrl` and On-Air host photos.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        HttpResponse[CreateAssetResponse]
            Upload instruction created.
        """
        _response = self._client_wrapper.httpx_client.request(
            "asset.create",
            method="POST",
            json={
                "name": name,
                "size": size,
                "purpose": purpose,
            },
            headers={
                "content-type": "application/json",
            },
            request_options=request_options,
            omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    CreateAssetResponse,
                    parse_obj_as(
                        type_=CreateAssetResponse,  # type: ignore
                        object_=_response.json(),
                    ),
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 400:
                raise BadRequestError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        Error,
                        parse_obj_as(
                            type_=Error,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 401:
                raise UnauthorizedError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        Error,
                        parse_obj_as(
                            type_=Error,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 403:
                raise ForbiddenError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        Error,
                        parse_obj_as(
                            type_=Error,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 405:
                raise MethodNotAllowedError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        Error,
                        parse_obj_as(
                            type_=Error,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 429:
                raise TooManyRequestsError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        Error,
                        parse_obj_as(
                            type_=Error,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 500:
                raise InternalServerError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Any,
                        parse_obj_as(
                            type_=typing.Any,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        except ValidationError as e:
            raise ParsingError(
                status_code=_response.status_code, headers=dict(_response.headers), body=_response.json(), cause=e
            )
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)


class AsyncRawAssetClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._client_wrapper = client_wrapper

    async def create(
        self,
        *,
        name: str,
        size: typing.Optional[int] = OMIT,
        purpose: typing.Optional[CreateAssetRequestPurpose] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> AsyncHttpResponse[CreateAssetResponse]:
        """
        Create a file asset and get back a self-describing instruction for
        uploading its bytes — the JSON-friendly way to attach a file (image, PDF,
        document, …) to a message, supply media for a story, or host an avatar
        image. Unlike [`/item.upload`](https://developer.ro.am/docs/api/item-upload), which takes raw
        bytes in the request body, every caller-visible step here is JSON in /
        JSON out (so it can be driven from MCP and other tool-calling clients),
        and the file bytes never pass through this API.

        **Flow:**
        1. `POST /asset.create` with the file `name` (include the extension, e.g.
           `photo.png`) and, if known, its `size` in bytes. For stories, also pass
           `purpose: "story"`. For avatars, pass `purpose: "avatar"` and `size`
           (max 10 MiB). The response
           is an upload instruction: `assetId`, `uploadUrl`, `uploadMethod`, and
           `uploadHeaders`. Avatar responses also include `imageUrl`.
        2. Upload the raw bytes in a **single request**: use `uploadMethod` (a
           `POST`) against `uploadUrl`, send every header from `uploadHeaders`
           verbatim, and put the file in the request body. Send the headers exactly
           as given — they authorize the upload and select the single-request
           upload protocol; omitting any will cause the upload to fail.
        3. Processing (thumbnails, previews, 512×512 WebP for avatars) happens
           automatically once the bytes land. There is no separate "complete" call.
        4. Once the asset is ready, use it:
           - `purpose: "file"` (default) — attach via `assetIds` on
             [`/chat.post`](https://developer.ro.am/docs/api/chat-post) or
             [`/chat.update`](https://developer.ro.am/docs/api/chat-update)
           - `purpose: "story"` — post via [`/story.post`](https://developer.ro.am/docs/api/story-post)
           - `purpose: "avatar"` — pass `imageUrl` as `sender.imageUrl` on
             [`/chat.post`](https://developer.ro.am/docs/api/chat-post) (and related send endpoints), or
             as `hosts[].imageUrl` on
             [`/onair.event.create`](https://developer.ro.am/docs/onair-api/onair-event-create) /
             [`/onair.event.update`](https://developer.ro.am/docs/onair-api/onair-event-update)

        A freshly-uploaded asset may take a few seconds to process (videos take
        longer). Chat and story endpoints that consume the asset return a 400 with
        a "still processing" message until processing completes. Avatar `imageUrl`
        404s until the image is ready — wait a moment after the upload returns
        before posting it.

        The `uploadUrl` is short-lived; if it expires, call `asset.create` again for
        a fresh instruction. Maximum file size is 5 GiB for `file` / `story`, and
        10 MiB for `avatar`.

        ## Purposes

        | Purpose | Use | Access |
        |---------|-----|--------|
        | `file` (default) | Chat message attachments | Organization and Personal |
        | `story` | Story media (photo or video) | Personal only |
        | `avatar` | `sender.imageUrl` and On-Air `hosts.imageUrl` | Organization and Personal |

        Story assets are owned by the authenticated user (stories are posted as you,
        not as a bot) and expire about 48 hours after creation. Because the media
        must outlive the story's 24-hour lifetime, call
        [`/story.post`](https://developer.ro.am/docs/api/story-post) within about 23 hours of creating the
        asset; after that the asset is rejected and a new one must be created.

        Avatar assets are public 512×512 WebP images. They do not expire. From
        API version `2026-08-25`, `sender.imageUrl` and On-Air `hosts.imageUrl`
        must be a Roam-hosted avatar URL (this `imageUrl`, or a legacy
        `/card-images/` or `/photos/people/` URL). Third-party image URLs return
        400. See [API Versioning](https://developer.ro.am/docs/guides/api-versioning) and
        [Sender Profiles](https://developer.ro.am/docs/guides/sender-profiles).

        **Access:** Organization and Personal. `purpose: "story"` is Personal only.

        **Required scope:** `item:write` for `purpose: "file"`; `chat:send_message`
        or `chat:write` for `purpose: "story"`; any of `item:write`,
        `chat:send_message`, `chat:write`, or `onair:write` for `purpose: "avatar"`.

        Parameters
        ----------
        name : str
            File name, including its extension (e.g. `report.pdf`). Processing determines the media type from the extension.

        size : typing.Optional[int]
            File size in bytes, if known. The true size is enforced
            server-side during the upload. Maximum 5 GiB. Required for
            `purpose: "avatar"` (maximum 10 MiB).

        purpose : typing.Optional[CreateAssetRequestPurpose]
            What the asset will be used for. `file` (default) for chat
            message attachments; `story` for story media (Personal tokens
            only); `avatar` for `sender.imageUrl` and On-Air host photos.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncHttpResponse[CreateAssetResponse]
            Upload instruction created.
        """
        _response = await self._client_wrapper.httpx_client.request(
            "asset.create",
            method="POST",
            json={
                "name": name,
                "size": size,
                "purpose": purpose,
            },
            headers={
                "content-type": "application/json",
            },
            request_options=request_options,
            omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    CreateAssetResponse,
                    parse_obj_as(
                        type_=CreateAssetResponse,  # type: ignore
                        object_=_response.json(),
                    ),
                )
                return AsyncHttpResponse(response=_response, data=_data)
            if _response.status_code == 400:
                raise BadRequestError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        Error,
                        parse_obj_as(
                            type_=Error,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 401:
                raise UnauthorizedError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        Error,
                        parse_obj_as(
                            type_=Error,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 403:
                raise ForbiddenError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        Error,
                        parse_obj_as(
                            type_=Error,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 405:
                raise MethodNotAllowedError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        Error,
                        parse_obj_as(
                            type_=Error,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 429:
                raise TooManyRequestsError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        Error,
                        parse_obj_as(
                            type_=Error,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 500:
                raise InternalServerError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Any,
                        parse_obj_as(
                            type_=typing.Any,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        except ValidationError as e:
            raise ParsingError(
                status_code=_response.status_code, headers=dict(_response.headers), body=_response.json(), cause=e
            )
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
