# This file was auto-generated by Fern from our API Definition.

from __future__ import annotations

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from ..types.webhook import Webhook
from ..types.webhook_subscription_filter import WebhookSubscriptionFilter
from .raw_client import AsyncRawWebhookClient, RawWebhookClient
from .types.deliveries_webhook_response import DeliveriesWebhookResponse
from .types.list_webhook_response import ListWebhookResponse
from .types.webhook_subscription_request_event import WebhookSubscriptionRequestEvent

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class WebhookClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawWebhookClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawWebhookClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawWebhookClient
        """
        return self._raw_client

    def list(self, *, request_options: typing.Optional[RequestOptions] = None) -> ListWebhookResponse:
        """
        List all webhook subscriptions owned by the authenticated API client.

        The response includes both **dynamic** subscriptions (created via
        [`/webhook.subscribe`](https://developer.ro.am/docs/webhooks/webhook-subscribe)) and **static**
        subscriptions configured in the Roam Administration UI.

        Each object may include `lastSuccessAt`, `failStreakStartedAt`, and
        `disabledAt` (omitted when null). `disabledAt` means the destination is
        paused. See [Subscription health](https://developer.ro.am/docs/webhooks/webhooks#subscription-health).

        **Required scope:** `webhook:read`

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ListWebhookResponse
            List of webhook subscriptions.

        Examples
        --------
        from roamhq import RoamClient

        client = RoamClient(
            roam_version="YOUR_ROAM_VERSION",
            token="YOUR_TOKEN",
        )
        client.webhook.list()
        """
        _response = self._raw_client.list(request_options=request_options)
        return _response.data

    def subscribe(
        self,
        *,
        url: str,
        event: WebhookSubscriptionRequestEvent,
        filter: typing.Optional[WebhookSubscriptionFilter] = OMIT,
        api_version: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> Webhook:
        """
        Create or update a webhook subscription for a given event. If a subscription
        already exists for the same event and URL, its filter is updated instead of
        creating a duplicate. Re-subscribing the same event and URL also clears a
        pause (`disabledAt` / `failStreakStartedAt`) so deliveries resume on the
        next event. See [Subscription health](https://developer.ro.am/docs/webhooks/webhooks#subscription-health).

        **Event names are dotted:** `chat.message`, `lobby.booked`,
        `magicast.created`. Colon names (`chat:message:dm`, `lobby:booked`) are
        v0-only — sending them here returns `400` / `Unrecognized event`.

        Roam does not probe the destination URL when you subscribe — the
        subscription is created immediately and the first delivery is a real event.

        See the [Webhooks overview](https://developer.ro.am/docs/webhooks/webhooks) for the full list of event names and their filters.

        **Required scope:** `webhook:write`

        Parameters
        ----------
        url : str
            Destination URL for webhook deliveries (max 1024 characters). HTTPS is required outside local environments.

        event : WebhookSubscriptionRequestEvent
            Event to subscribe to.

        filter : typing.Optional[WebhookSubscriptionFilter]

        api_version : typing.Optional[str]
            Optional [API version](https://developer.ro.am/docs/guides/api-versioning) (`YYYY-MM-DD`) to pin
            this subscription's payload shape to. When omitted, the subscription is
            frozen at your integration's default version. Unsupported values return
            `400`.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Webhook
            Subscription created or updated.

        Examples
        --------
        from roamhq import RoamClient, WebhookSubscriptionFilter

        client = RoamClient(
            roam_version="YOUR_ROAM_VERSION",
            token="YOUR_TOKEN",
        )
        client.webhook.subscribe(
            url="https://example.com/hooks/messages",
            event="chat.message",
            filter=WebhookSubscriptionFilter(
                mention=True,
            ),
        )
        """
        _response = self._raw_client.subscribe(
            url=url, event=event, filter=filter, api_version=api_version, request_options=request_options
        )
        return _response.data

    def unsubscribe(self, *, id: str, request_options: typing.Optional[RequestOptions] = None) -> None:
        """
        Remove a webhook subscription by ID.

        The request body is JSON: `{"id": "<subscription uuid>"}`. This differs
        from v0, which expects `application/x-www-form-urlencoded` with the same
        `id` field. Sending JSON to `/v0/webhook.unsubscribe` returns
        `id parameter required`.

        **Required scope:** `webhook:write`

        Parameters
        ----------
        id : str
            Identifier of the webhook subscription to remove.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        from roamhq import RoamClient

        client = RoamClient(
            roam_version="YOUR_ROAM_VERSION",
            token="YOUR_TOKEN",
        )
        client.webhook.unsubscribe(
            id="19c6401f-6d02-4d8c-87c5-9fc45f02f4b5",
        )
        """
        _response = self._raw_client.unsubscribe(id=id, request_options=request_options)
        return _response.data

    def deliveries(
        self,
        *,
        webhook: typing.Optional[str] = None,
        event: typing.Optional[str] = None,
        after: typing.Optional[str] = None,
        before: typing.Optional[str] = None,
        limit: typing.Optional[int] = None,
        cursor: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> DeliveriesWebhookResponse:
        """
        List recent **failed** webhook delivery attempts for the authenticated API
        client, newest first. Use this to debug a misbehaving endpoint and to find
        the events you need to replay: successful (2xx) deliveries are never
        recorded, so every row here is a delivery your endpoint did not accept.

        Timeouts are first-class failures: `statusCode` is `0` and `error` is
        `timeout`. For HTTP error responses, a truncated copy of your server's
        response body is included to aid debugging. The request payload is never
        stored — to recover the data, re-fetch the underlying resource (e.g. via
        `chat.history`) using the delivery's `messageId`/`event` context.

        Results are strictly scoped to the caller's own subscriptions and retained
        for roughly 30 days.

        **Access:** Organization and Personal.

        **Required scope:** `webhook:read`

        Parameters
        ----------
        webhook : typing.Optional[str]
            Only return deliveries for this webhook subscription ID.

        event : typing.Optional[str]
            Only return deliveries for this event name (e.g. `chat.message`).

        after : typing.Optional[str]
            Only return deliveries after this time (RFC3339 or `YYYY-MM-DD`). Results switch to oldest-first.

        before : typing.Optional[str]
            Only return deliveries before this time (RFC3339 or `YYYY-MM-DD`).

        limit : typing.Optional[int]
            Maximum number of deliveries to return.

        cursor : typing.Optional[str]
            Opaque pagination cursor from a previous response's `nextCursor`.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        DeliveriesWebhookResponse
            Failed delivery attempts for the caller's subscriptions.

        Examples
        --------
        from roamhq import RoamClient

        client = RoamClient(
            roam_version="YOUR_ROAM_VERSION",
            token="YOUR_TOKEN",
        )
        client.webhook.deliveries()
        """
        _response = self._raw_client.deliveries(
            webhook=webhook,
            event=event,
            after=after,
            before=before,
            limit=limit,
            cursor=cursor,
            request_options=request_options,
        )
        return _response.data


class AsyncWebhookClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawWebhookClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawWebhookClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawWebhookClient
        """
        return self._raw_client

    async def list(self, *, request_options: typing.Optional[RequestOptions] = None) -> ListWebhookResponse:
        """
        List all webhook subscriptions owned by the authenticated API client.

        The response includes both **dynamic** subscriptions (created via
        [`/webhook.subscribe`](https://developer.ro.am/docs/webhooks/webhook-subscribe)) and **static**
        subscriptions configured in the Roam Administration UI.

        Each object may include `lastSuccessAt`, `failStreakStartedAt`, and
        `disabledAt` (omitted when null). `disabledAt` means the destination is
        paused. See [Subscription health](https://developer.ro.am/docs/webhooks/webhooks#subscription-health).

        **Required scope:** `webhook:read`

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ListWebhookResponse
            List of webhook subscriptions.

        Examples
        --------
        import asyncio

        from roamhq import AsyncRoamClient

        client = AsyncRoamClient(
            roam_version="YOUR_ROAM_VERSION",
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.webhook.list()


        asyncio.run(main())
        """
        _response = await self._raw_client.list(request_options=request_options)
        return _response.data

    async def subscribe(
        self,
        *,
        url: str,
        event: WebhookSubscriptionRequestEvent,
        filter: typing.Optional[WebhookSubscriptionFilter] = OMIT,
        api_version: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> Webhook:
        """
        Create or update a webhook subscription for a given event. If a subscription
        already exists for the same event and URL, its filter is updated instead of
        creating a duplicate. Re-subscribing the same event and URL also clears a
        pause (`disabledAt` / `failStreakStartedAt`) so deliveries resume on the
        next event. See [Subscription health](https://developer.ro.am/docs/webhooks/webhooks#subscription-health).

        **Event names are dotted:** `chat.message`, `lobby.booked`,
        `magicast.created`. Colon names (`chat:message:dm`, `lobby:booked`) are
        v0-only — sending them here returns `400` / `Unrecognized event`.

        Roam does not probe the destination URL when you subscribe — the
        subscription is created immediately and the first delivery is a real event.

        See the [Webhooks overview](https://developer.ro.am/docs/webhooks/webhooks) for the full list of event names and their filters.

        **Required scope:** `webhook:write`

        Parameters
        ----------
        url : str
            Destination URL for webhook deliveries (max 1024 characters). HTTPS is required outside local environments.

        event : WebhookSubscriptionRequestEvent
            Event to subscribe to.

        filter : typing.Optional[WebhookSubscriptionFilter]

        api_version : typing.Optional[str]
            Optional [API version](https://developer.ro.am/docs/guides/api-versioning) (`YYYY-MM-DD`) to pin
            this subscription's payload shape to. When omitted, the subscription is
            frozen at your integration's default version. Unsupported values return
            `400`.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Webhook
            Subscription created or updated.

        Examples
        --------
        import asyncio

        from roamhq import AsyncRoamClient, WebhookSubscriptionFilter

        client = AsyncRoamClient(
            roam_version="YOUR_ROAM_VERSION",
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.webhook.subscribe(
                url="https://example.com/hooks/messages",
                event="chat.message",
                filter=WebhookSubscriptionFilter(
                    mention=True,
                ),
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.subscribe(
            url=url, event=event, filter=filter, api_version=api_version, request_options=request_options
        )
        return _response.data

    async def unsubscribe(self, *, id: str, request_options: typing.Optional[RequestOptions] = None) -> None:
        """
        Remove a webhook subscription by ID.

        The request body is JSON: `{"id": "<subscription uuid>"}`. This differs
        from v0, which expects `application/x-www-form-urlencoded` with the same
        `id` field. Sending JSON to `/v0/webhook.unsubscribe` returns
        `id parameter required`.

        **Required scope:** `webhook:write`

        Parameters
        ----------
        id : str
            Identifier of the webhook subscription to remove.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        import asyncio

        from roamhq import AsyncRoamClient

        client = AsyncRoamClient(
            roam_version="YOUR_ROAM_VERSION",
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.webhook.unsubscribe(
                id="19c6401f-6d02-4d8c-87c5-9fc45f02f4b5",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.unsubscribe(id=id, request_options=request_options)
        return _response.data

    async def deliveries(
        self,
        *,
        webhook: typing.Optional[str] = None,
        event: typing.Optional[str] = None,
        after: typing.Optional[str] = None,
        before: typing.Optional[str] = None,
        limit: typing.Optional[int] = None,
        cursor: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> DeliveriesWebhookResponse:
        """
        List recent **failed** webhook delivery attempts for the authenticated API
        client, newest first. Use this to debug a misbehaving endpoint and to find
        the events you need to replay: successful (2xx) deliveries are never
        recorded, so every row here is a delivery your endpoint did not accept.

        Timeouts are first-class failures: `statusCode` is `0` and `error` is
        `timeout`. For HTTP error responses, a truncated copy of your server's
        response body is included to aid debugging. The request payload is never
        stored — to recover the data, re-fetch the underlying resource (e.g. via
        `chat.history`) using the delivery's `messageId`/`event` context.

        Results are strictly scoped to the caller's own subscriptions and retained
        for roughly 30 days.

        **Access:** Organization and Personal.

        **Required scope:** `webhook:read`

        Parameters
        ----------
        webhook : typing.Optional[str]
            Only return deliveries for this webhook subscription ID.

        event : typing.Optional[str]
            Only return deliveries for this event name (e.g. `chat.message`).

        after : typing.Optional[str]
            Only return deliveries after this time (RFC3339 or `YYYY-MM-DD`). Results switch to oldest-first.

        before : typing.Optional[str]
            Only return deliveries before this time (RFC3339 or `YYYY-MM-DD`).

        limit : typing.Optional[int]
            Maximum number of deliveries to return.

        cursor : typing.Optional[str]
            Opaque pagination cursor from a previous response's `nextCursor`.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        DeliveriesWebhookResponse
            Failed delivery attempts for the caller's subscriptions.

        Examples
        --------
        import asyncio

        from roamhq import AsyncRoamClient

        client = AsyncRoamClient(
            roam_version="YOUR_ROAM_VERSION",
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.webhook.deliveries()


        asyncio.run(main())
        """
        _response = await self._raw_client.deliveries(
            webhook=webhook,
            event=event,
            after=after,
            before=before,
            limit=limit,
            cursor=cursor,
            request_options=request_options,
        )
        return _response.data
